.header{
    position: relative;
    height: 50px;
    width: 100%;
    color: whitesmoke;
    background-color: white;
}

.header .title{
    top: 50%;
    float: left;
    color: #000000;
}

.header .nav{
    margin: 0;
    top: 50%;
    white-space:nowrap;
    float: left;
    width: 35%;
    margin-left: 35%;
}

.header .nav li{
    float: left;
    width: 33%;
}

.header .nav a{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    /*font-weight: bold;*/
}

.header .nav a:hover{
    animation: gradient 0.2s linear;
    animation-play-state: inherit;
    animation-fill-mode: forwards;
}

.header .small{
    float: right;
    top: 50%;
    margin: 0;
}


@keyframes gradient {
    0% {
        color: black;
        border-bottom: 1px solid black;
    }
    100% {
        color: orange;
        border-bottom: 1px solid orange;
    }
}